.container {
  width: 1000px;
  height: 1000px;
  background-color: red;
  position: relative;
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
  perspective: 1000px;
}

.container .block {
  position: relative;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  background: url('../../img/Culture-Grumpy-Cat.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  transform-style: preserve-3d;
}
