.loader {
  position: relative;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader span {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 2px solid black;
  animation: borderAnimation 4s linear infinite;
}

.loader span {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 2px solid black;
  animation: borderAnimation 4s linear infinite;
  pointer-events: none;
}

.loader span:nth-child(1) {
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

.loader span:nth-child(2) {
  animation-direction: reverse;
  border-radius: 73% 27% 56% 44% / 69% 78% 22% 31%;
}

.loader span:nth-child(3) {
  animation-duration: 3s;
  border-radius: 67% 33% 78% 22% / 46% 50% 50% 54%;
}

/* content style */
.loader h2 {
  color: black;
  font-family: console;
  font-size: 25px;
  pointer-events: none;
}

@keyframes borderAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
