.btn-hover {
  text-decoration: none;
  background-color: rgb(157, 172, 184);
  width: 150px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.btn-hover span {
  color: white;
  font-weight: 500;
  z-index: 1;
}

.btn-hover::before {
  content: '';
  transform: translate(-50%, -50%);
  position: absolute;
  top: var(--y);
  left: var(--x);
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background: rgb(133, 22, 245);
  transition: width 0.5s, height 0.5s;
}

.btn-hover:hover::before {
  width: 300px;
  height: 300px;
}
