.BackgroundContainer {
  position: relative;
  width: 300px;
  height: 300px;
  background-color: black;
  overflow: hidden;
  box-shadow: 0 0 0 10px rgb(98, 95, 95), 0 0 0 15px #eee, 0 0 0 25px black;
  margin: 25px;
}

.layer {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 200%;
  background: white;
  box-shadow: inset -0.5px 0 2px rgba(0, 0, 0, 1),
    inset 0.5px 0 2px rgba(0, 0, 0, 1),
    inset -0.5px 0 2px rgba(255, 255, 255, 0.25),
    inset 0.5px 0 2px rgba(255, 255, 255, 0.25), 0 0 50px rgba(0, 0, 0, 1);
}

.layer.layer1 {
  background: #222
    radial-gradient(#6dff73 3px, #0000 3px, #000 5px, transparent 9px);
  background-size: 10px 10px;
  transform: translate(-50%, -50%) rotate(45deg);
  z-index: 11;
  animation: backgroundAnimation 2s linear infinite;
}

.layer.layer2 {
  background: #222
    radial-gradient(red 3px, #0000 3px, #000 5px, transparent 9px);
  background-size: 10px 10px;
  transform: translate(-50%, -40%) rotate(45deg);
  z-index: 3;
  animation: backgroundAnimationTwo 2s linear infinite;
}

.layer.layer3 {
  background: #222
    radial-gradient(blue 3px, #0000 3px, #000 5px, transparent 9px);
  background-size: 10px 10px;
  transform: translate(-50%, -60%) rotate(45deg);
  z-index: 3;
  animation: backgroundAnimationTwo 2s linear infinite;
}

.layer.layer4 {
  background: #222
    radial-gradient(rgb(245, 9, 245) 3px, #0000 3px, #000 5px, transparent 9px);
  background-size: 10px 10px;
  transform: translate(-50%, -50%) rotate(-45deg);
  z-index: 12;
  animation: backgroundAnimation 2s linear infinite;
}

.layer.layer5 {
  background: #222
    radial-gradient(rgb(255, 238, 0) 3px, #0000 3px, #000 5px, transparent 9px);
  background-size: 10px 10px;
  transform: translate(-50%, -40%) rotate(-45deg);
  z-index: 10;
  animation: backgroundAnimationTwo 2s linear infinite;
}

.layer.layer6 {
  background: #222
    radial-gradient(
      rgb(238, 238, 238) 3px,
      #0000 3px,
      #000 5px,
      transparent 9px
    );
  background-size: 10px 10px;
  transform: translate(-50%, -60%) rotate(-45deg);
  z-index: 10;
  animation: backgroundAnimationTwo 2s linear infinite;
}

/* Animaitons */

@keyframes backgroundAnimation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 10px -10px;
  }
}

@keyframes backgroundAnimationTwo {
  0% {
    background-position: 10px -10px;
  }
  100% {
    background-position: 0 0;
  }
}
